.br {
  border: 1px solid;
}
.co-white {
  color: #fff;
}
.m-left {
  margin-left: 50px;
}

.mt-70 {
  margin-top: 70px;
}
.big_p {
  font-size: 1.3rem;
  font-weight: 300;
}
.big_p2 {
  font-size: 1.5rem;
  font-weight: 300;
}
.medium_p {
  font-size: 1.1rem;
  font-weight: 300;
}
.bold {
  font-weight: bold;
}
.fsa {
  font-size: 3rem;
}
.fs-25 {
  font-size: 1.7rem;
  font-weight: 700;
}
.w-300 {
  max-width: 300px;
}
.darkblue {
  color: $darkblue;
}
.mb50 {
  margin-bottom: 60px;
}
