@media only screen and (max-width: 768px) {
  .intro-text {
    font-size: 1.7rem;
    margin-top: -130px;
  }
  .sb-box {
    min-height: 400px;
  }
  .leader {
    font-size: 0.8rem;
  }

  .sb-box {
    min-height: 350px;
    width: 100%;
    background: #ffffff;
    margin-bottom: -250px;
    position: relative;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(189, 189, 189, 1);
    -moz-box-shadow: 0px 3px 5px 1px rgba(189, 189, 189, 1);
    box-shadow: 0px 3px 5px 1px rgba(189, 189, 189, 1);
    padding: 30px;
  }
  .m-left {
    margin-left: 0;
  }
  .vscard {
    background: #f5f5f5;
    border: 0;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(176, 176, 176, 1);
    -moz-box-shadow: 0px 0px 5px -1px rgba(176, 176, 176, 1);
    box-shadow: 0px 0px 5px -1px rgba(176, 176, 176, 1);
    padding: 1rem;
  }
  .fs-25 {
    font-size: 1.3rem;
    font-weight: 700;
  }
  .section-l4 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .display-xs {
    font-size: 1.4rem;
    font-weight: 400;
  }
  .big_p {
    font-size: 1.1rem;
    font-weight: 300;
  }
  .big_p2 {
  font-size: 1.2rem;
  font-weight: 300;
}
  .amc {
    margin: 0px auto;
  }
}
@media only screen and (max-width: 990px) and (min-width: 769px) {
  .fs-25 {
    font-size: 1.4rem;
    font-weight: 700;
  }
  .big_p {
    font-size: 1.2rem;
    font-weight: 300;
  }
  .vscard {
    background: #f5f5f5;
    border: 0;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(176, 176, 176, 1);
    -moz-box-shadow: 0px 0px 5px -1px rgba(176, 176, 176, 1);
    box-shadow: 0px 0px 5px -1px rgba(176, 176, 176, 1);
    padding: 1rem;
  }
 .intro-text {
  font-size: 2.5rem;
  font-weight: 800;
  color: #ffffff;
  line-height: 1.5;
}
}
@media only screen and (max-width: 1200px) and (min-width: 991px) {
  .intro {
  width: 100%;
  min-height: 400px;
  }
   .intro-text {
  font-size: 2.5rem;
  font-weight: 800;
  color: #ffffff;
  line-height: 1.5;
}
.sb-box {
  min-height: 300px;
  width: 100%;
 
  padding: 30px;
}
}